* {
    /* margin: 0px; */
}
.gridContainer {
    display: grid;
    grid-template-rows: 1fr 7fr .3fr;
    grid-row: 1fr 5fr 1fr;
    --color: brown;
}
.title {
    --color: blue;
}
.body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    --color: red;

}
.footer {
    display: grid;
    --color: green;
}
.sidebar {
    /* padding: 20px; */
    gap: 50px;
    display: grid;
    --color: yellow;
}
.todos {
    --color: pink;
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
}
.projects {
    --color: orange;

}
